:root {
  --color-primary: #15647C;
  --color-secondary: #27A1A8;
  --color-accent: #EF7C4B;

  --color-white: #fff;
  --color-true-black: #000;
  --color-black: #1C2224;
  --color-light: #F4F7F9;
  --color-gray: #556065;

  --color-warning: #FF3D3D;

  --body-background-color: #fff;
}
