<!doctype html>
<html lang="ru">
{% set title = "Project title" %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{ title }}</title>
{#    <link href="css/bundle.css?{{ date().getTime() }}" rel="stylesheet">#}
</head>
<body>
{% include 'blocks::header/header.twig' %}
<main>
    {% block content %}{% endblock %}
</main>
{% include 'blocks::footer/footer.twig' %}
{#<script type="text/javascript" src="js/bundle.js?{{ date().getTime() }}" defer></script>#}
</body>
</html>