// Colors in /styles/utils/variables.scss
// Color system:
// 'colorName': 'color'

@each $colorName, $colorValue in $colors {
  .bg-#{$colorName} {
    background-color: $colorValue !important;
  }

  .color-#{$colorName} {
    color: $colorValue !important;
  }
}

.bg-transparent {
  background-color: transparent !important;
}
